* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  width: 100%;
  background-color: #23252C;
  font-weight: 700;
}

.container {
  border-radius: 10px;
  margin: auto;
  max-width: 317px;
  margin-top: 44px;
  text-align: center;
}

main {
  background-color: #1A1B21;
  height: 730px;
}

.avatar {
  height: 317px;
}

h2 {
  color: #FFFFFF;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
}

.profession {
  color: #F3BF99;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 15.49px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.small-info {
  color: #DCDCDC;
  font-size: 0.64rem;
  font-weight: 400;
  line-height: 15.49px;
}

p.small-info {
  margin-top: 5px;
  margin-bottom: 0;
}

.info-block {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

.cta-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 35px;
}

.cta-section > a {
  border-radius: 5px;
  height: 30px;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

a.email {
  color: #374151;
  background-color: #FFFFFF;
}

a.linkedin {
  color: #FFFFFF;
  background-color: #5093E2;
}

h3 {
  color: #FFFFFF;
  margin-bottom: 0px;
  font-size: 1rem;
}

footer {
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 70px;
  background-color: #161619;
}